body {
    background-color: aliceblue;
}

.container {
    display: flex;
    width: 800px;
    height: 660px;
    background-color: rgb(177, 238, 238);
    float: center;
    border-radius: 30px;
    box-shadow: lightseagreen;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px;
}

#headings {
    font-size: 40px;
    text-align: center;
    color: white;
}

#rules {
    font-size: 15px;
    text-align: center;
    color: black;
}

.questions {
    font-size: 25px;
    color: rgb(5, 21, 235);
}

.buttons-group {
    list-style-type: none;
    margin-top: 280px;
}

.buttons {
    background-color: rgb(17, 143, 122);
    width: 150px;
    border-radius: 100px;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.buttons:hover {
    cursor: pointer;
    border: 1px rgb(33, 7, 150);
    color:skyblue;
}

hr {
    width: 800px;
}