body {
    margin: 20px 20px 20px 20px;
}

.container {
    text-align: center;
}

h1 { 
    font-size: 30px;
    text-align: center;
    color: black;
    margin: auto;
    margin-top: 40px;
}

p {
    font-size: 15px;
    text-align: center;
    color: black;
    margin: auto;
}

#btn {
    font-size: 15px;
    width: 100px;
    height: 30px;
    background-color:rgb(205, 169, 212);
    border: rgb(170, 93, 106);
    border-radius: 200px;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    border: 3px solid skyblue;
}


.quiz-section {
    display: none;
    text-align: 200px;
}

h2 {
    font-size: 25px;
    color:rgb(5, 21, 235);
    margin: auto;
}

ul li { 
    font-size: 20px;
    color: white;
}

.buttons-group {
    list-style-type: none; 
}

.buttons {
    background-color: black;
    width: 75px;
    height: 10px;
    border-radius: 100px;
    border: 2px solid transparent;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.buttons:hover {
    cursor: pointer;
    border: 4px solid skyblue;
}

.btn-next {
    background-color: blue;
    width: 75px;
    height: 10px;
    border-radius: 100px;
    border: 2px solid transparent;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.btn-next:hover {
    cursor: pointer;
    border: 4px solid skyblue;

hr {
    width: 800px;
}